name: Build and Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up CMake
      run: sudo apt-get update && sudo apt-get install cmake -y

    - name: Create Build Directory
      run: mkdir -p build

    - name: Run CMake
      run: cmake .

    - name: Build
      run: make

    - name: Run Executable with commands
      run: echo -e "SET key1 value1\nGET key1\nKEYS\nEXIT\n" | ./InMemoryDB
